div {
	padding-bottom: 20px;
	clear: both;
}

a {
	color: #033F61;
}

body {
	color: #333;
	font-size: 19px;
	line-height: 23px;
	margin: 0;
	overflow-y: scroll;
	font-family: palatino, serif;
}

h1 {
	font-family: eurostile, helvetica, arial, sans-serif;
	color: #033F61;
	font-weight: normal;
	position: relative;
	top: -60px;
	left: 90px;
	margin: 0;
	padding: 0;
}

.wrapper {
}

.logo {
	margin: 30px auto;
	width: 560px;
	height: 377px;
	padding-bottom: 0px;
}
.logo-img {
	margin: 0 auto;
	width: 560px;
	border: 0;
}
.logo-corner {
	width: 150px;
	position: fixed;
	top: 15px;
	position: absolute;
	opacity: 0;

	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.hide {
	opacity: 0;
}

.show {
	opacity: 1;
}

.content {
	width: 80%;
	max-width: 950px;
	margin: 0 auto;
	padding: 30px;
}

.emph {
}

.blue-line {
	position: relative;
    width: 100%;

    background-color: #033F61;
}
.nav-container {
	height: 56px;
}

.sticky {
	position: fixed !important;
	top: 0;
}

#jobdescription {
	padding: 10px 0 0;
}

.candidate-header {
}

.job-section {
	margin: 5px 0 20px;
	padding: 5px 5px 10px 0;
}

ul {
	margin: 0;
	list-style: circle;
}

li {
	font-size: 17px;
	line-height: 20px;
	padding-bottom: 10px;
}